.container {
  margin-bottom: 10px;
}

.input {
  padding: 10px 20px;
  outline: none;
  font-size: 1em;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

.label {
  font-size: 0.9em;
  font-weight: 500;
  margin: 10px 0;
}

.input_container {
  display: flex;
  align-items: center;
}

.prefix {
  margin-right: 10px;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1) !important;
}
