.navlink {
  border-radius: 10px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  height: 40px;
  opacity: 1;
  cursor: auto;
  margin: 0 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navlink:hover {
  opacity: 0.8;
  cursor: pointer;
}
