.container {
  position: relative;
  margin-bottom: 10px;
}
.input {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: 12px 20px;
  outline: none;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.label {
  font-size: 0.9em;
  font-weight: 500;
  margin: 10px 0;
}
.icon {
  margin-right: 10px;
}

.year_picker_container {
  width: 150px;
  max-height: 220px;
  overflow: auto;
  padding: 15px;
  position: absolute;
  z-index: 9;
  border-radius: 10px;
  z-index: 9;
}

.years_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.years_item {
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 400;
}

.years_item:hover {
  background-color: rgba(0,0,0,0.1);
  font-weight: 900;
  cursor: pointer;
}


.arrow_container {
  display: flex;
  justify-content: space-between;
}

.arrow_box {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.arrow_box:hover {
  opacity: 0.8;
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}
.arrow_link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
