.button {
  font-weight: 500;
  outline: none;
  opacity: 1;
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.icon {
  height: 18px;
  width: 18px;
}

@keyframes spin {
  0% { transform: rotate(0deg) } 100% { transform: rotate(360deg)}  
}

.is_loading {
  animation: spin 1.4s ease-in-out infinite;
}
