.container {
  margin-bottom: 15px;
}

.input {
  padding: 10px 20px;
  outline: none;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  min-height: 100px;
  font-size: 1em;
  font-weight: 400;
}

.label {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 10px;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1) !important;
}
