.button {
  font-weight: 500;
  outline: none;
  opacity: 1;
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: auto;
}
