.container {
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: auto;
}

.title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 1.1em;
  font-weight: 400;
}

.table {
  display: grid;
  font-size: 0.9em;
}
